// SASS placeholders

// Event handling
%noselect { user-select: none; }
%disabled {
  pointer-events: none !important;
  @extend %noselect;
}
%clickable {
  cursor: pointer;
  @extend %noselect;
  -webkit-tap-highlight-color: transparent;
}

// App
%app-style--border-radius { border-radius: 3px; }
%app-style--input {
  border-style: none;
	@extend %app-style--border-radius;
}
%app-style--input-disabled {
  @extend %disabled;
  opacity: 0.35;
}

// Other
%truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0; // If parent element is flex box
}
%flex--center {
	display: flex;
	align-items: center;
	justify-content: center;
}