// SASS placeholders

// Event handling
%noselect { user-select: none; }
%disabled {
  pointer-events: none !important;
  @extend %noselect;
}
%clickable {
  cursor: pointer;
  @extend %noselect;
  -webkit-tap-highlight-color: transparent;
}

// App
%app-style--input {
	border-style: none;
	border-radius: $app-vars--border-radius;
}
%app-style--input-disabled {
  @extend %disabled;
  opacity: 0.15;
}
%app-style--card-shadow {
	box-shadow:
		0 1.8px 2.2px rgba(0, 0, 0, 0.02),
		0 3.7px 5.3px rgba(0, 0, 0, 0.03),
		0 6.5px 10px rgba(0, 0, 0, 0.045),
		0 11.3px 17.9px rgba(0, 0, 0, 0.055);
}

// Other
%truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0; // If parent element is flex box
}
%flex--center {
	display: flex;
	align-items: center;
	justify-content: center;
}